/* About Section */
.aboutSection {
    padding-top: 4vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
  }
  
  /* Text Container */
  .textBox {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section__text__p1 {
    font-size: 1.5rem; /* Increased font size for introductory text */
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 3rem; /* Increased font size for the main title */
    margin-bottom: 20px;
    color: #8EB4E5;
  }
  
  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* About Details Container */
  .aboutDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .aboutContainers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-bottom: 20px;
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
    transition: transform 0.2s ease-in-out;
  }
  
  .detailsContainer:hover {
    transform: scale(1.05);
  }
  
  .detailsContainer h3 {
    font-size: 1.75rem; /* Increased font size for the details heading */
    margin-top: 10px;
  }
  
  .detailsContainer p {
    font-size: 1.25rem; /* Increased font size for the details paragraph */
  }
  
  .icon {
    width: 64px;
    height: 64px;
  }
  
  .arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Text Container */
  .textContainer {
    text-align: justify;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
    margin-top: 20px;
    max-width: 800px;
    font-size: 1.5rem; /* Increased font size for the text container */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .aboutSection {
      margin: 0 2rem;
    }
  
    .title {
      font-size: 2.5rem; /* Adjusted font size for the main title on smaller screens */
    }
  
    .section__text__p1 {
      font-size: 1.25rem; /* Adjusted font size for introductory text on smaller screens */
    }
  
    .sectionContainer,
    .aboutDetailsContainer {
      align-items: flex-start;
    }
  
    .aboutContainers {
      flex-direction: column;
      align-items: center;
    }
  
    .detailsContainer,
    .textContainer {
      max-width: 100%;
    }
  
    .detailsContainer h3 {
      font-size: 1rem; /* Adjusted font size for the details heading on smaller screens */
    }
  
    .detailsContainer p {
      font-size: 1rem; /* Adjusted font size for the details paragraph on smaller screens */
    }
  
    .icon {
      width: 48px;
      height: 48px;
    }
  
    .arrow {
      right: 10px;
    }
  }
  