/* EXPERIENCE SECTION */
#experience {
    position: relative;
    padding: 1rem;
  }
  
  /* SUBTITLE */
  .experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  
  /* DETAILS CONTAINER */
  .experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2%;
    padding-right: 10%;
  }
  
  /* ARTICLE CONTAINER */
  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
  }
  
  /* TIMELINE CONTAINER */
  .timeline-container {
    width: 100%;
    position: relative;
    padding-top: 5px;
    margin: 0 auto;
  }
  
  /* TIMELINE LINE */
  .timeline-line {
    margin-top: 1%;
    width: 101%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  /* YEAR DESCRIPTION */
  .year-description {
    font-size: smaller;
    gap: 10%;
    padding-top: 2%;
  }
  
  /* TIMELINE POINTS */
  .timeline-points {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2%;
  }
  
  /* TIMELINE POINT */
  .timeline-point {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  /* TIMELINE ARROW */
  .timeline-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: -15px; 
    margin-top: 1%;
  }
  
  /* TOOLTIP */
  .tooltip {
    display: none;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 2%;
  }
  
  /* TOOLTIP DISPLAY */
  .timeline-point:hover .tooltip {
    display: block;
  }
  
  /* TIMELINE POINT ACTIVE */
  .timeline-point.active .detail {
    display: block;
  }
  
  /* DETAIL */
  .detail {
    font-size: large;
    display: none;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
  
  /* DETAIL ACTIVE */
  .detail.active {
    display: block;
  }
  
  /* CLOSE BUTTON */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 9px;
  }
  
  /* TIMELINE LABELS */
  .timeline-labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px; 
  }
  
  /* YEAR DESCRIPTION STYLES */
  .year-description {
    margin: 0;
    color: #555;
    font-size: 16px;
  }
  
  /* ARTICLE */
  .article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
  }
  
  /* ARTICLE ICON */
  article .icon {
    cursor: default;
  }
  
  /* RESPONSIVE DESIGN USING MEDIA QUERIES */
  @media (max-width: 768px) {
    #experience {
      padding: 1rem;
    }
  
    .experience-sub-title {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .experience-details-container {
      padding: 1rem;
      padding-right: 0;
    }
  
    .article-container {
      flex-direction: column;
      align-items: center;
    }
  
    .timeline-line {
      width: 100%;
    }
  
    .timeline-points {
      flex-direction: column;
      align-items: center;
    }
  
    .timeline-point {
      width: 15px;
      height: 15px;
    }
  
    .tooltip {
      font-size: 16px;
    }
  
    .detail {
      max-width: 90%;
      width: auto;
      top: -80px;
    }
  
    .close-btn {
      top: 5px;
      right: 5px;
      font-size: 8px;
    }
  
    .timeline-labels {
      flex-direction: column;
      align-items: center;
    }
  
    .year-description {
      font-size: 14px;
      text-align: center;
    }
  }
  